aside.logo{
    background-color: var(--bg-dark);
    display: flex;
    align-items: center;
    justify-content: center;
}
aside h3{
    color: white; 
}
aside a {
    color: white;
}
aside a:hover {
    color: white; text-decoration: none;
}
@media(max-width: 576px){
    aside.logo{
        width: 350px;
    }
}